<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- bean id="loginDelegate" class="com.sample.cart.delegate.LoginDelegate"> 
		<property name="userService" ref="userService"></property> </bean> <bean 
		id="userService" class="com.sample.cart.service.impl.UserServiceImpl"> <property 
		name="userDao" ref="userDao"></property> </bean -->

	<bean id="userDao" class="com.sample.cart.dao.impl.UserDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<bean id="productDao" class="com.sample.cart.dao.impl.ProductDaoImpl">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<context:component-scan base-package="com.sample.cart.dao.impl" />
	<context:component-scan base-package="com.sample.cart.service.impl" />
	<context:component-scan base-package="com.sample.cart.controller" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver" />
		<property name="url"
			value="jdbc:derby://localhost:1527/D:\\Database\\Derby\\cart;" />
		<!-- property name="username" value="" /> <property name="password" value="" 
			/ -->
	</bean>

</beans>